{
  "root": true,
  "extends": [
    "@react-native",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],

  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint", "import", "eslint-plugin-import"],
  "ignorePatterns": ["eslintrc.json", "babel.config.js", "*.d.ts"],
  "settings": {
    "react": {
      "version": "18"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/no-shadow": ["error"],
        "no-shadow": "off",
        "no-undef": "off",
        "import/no-default-export": "off",
        "import/extensions": "off",
        "import/namespace": "off",
        "react-native/no-inline-styles": "off"
      },
      "parserOptions": {
        "project": ["./tsconfig.json"] // Specify it only for TypeScript files
      }
    },
    { "files": ["*.tsx"], "rules": { "no-undef": "off" } },
    { "files": ["types/index.ts"], "rules": { "no-unused-vars": "off" } }
  ],
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/no-unused-vars": [
      2,
      {
        "args": "none"
      }
    ],
    "@typescript-eslint/no-non-null-assertion": 0,
    "no-console": 0,
    "no-eval": 2,
    "no-unreachable": 1,
    "no-unused-vars": [1, { "args": "after-used", "ignoreRestSiblings": true, "vars": "all" }],
    "import/first": "error",
    "import/no-unresolved": [2, { "caseSensitive": false }],
    "import/newline-after-import": ["error", { "count": 1 }]
  }
}
